[submodule "milo_teensy/lib/dual-g2-high-power-motor-shield"]
	path = milo_teensy/lib/dual-g2-high-power-motor-shield
	url = https://github.com/pololu/dual-g2-high-power-motor-shield.git
[submodule "extern/nanopb"]
	path = extern/nanopb
	url = https://github.com/nanopb/nanopb.git
