<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="robot">

    <xacro:include filename="robot_core.xacro" />

    <!-- DIFF DRIVE CONTROL -->
    <!-- <xacro:include filename="diff_drive_control.xacro"/> -->

    <!-- SKID STEER CONTROL -->
    <xacro:include filename="skid_steer_control.xacro"/>
    
</robot>