BRAIN2_REGISTRY=registry.arculus.it/a/BRAIN2_REGISTRY

IMG_NAME_DEVCONTAINER_JAZZY=devcontainer-jazzy
IMG_NAME_DEVCONTAINER_BRAIN3=devcontainer-brain3

SELECTED_DEVCONTAINER=${IMG_NAME_DEVCONTAINER_BRAIN3}

CONTAINER_RUNTIME =nvidia
RESTART_POLICY=IMG_NAME_DEVCONTAINER_BRAIN3
PLATFORM=amd64